<div>
  <mat-tab-group (selectedIndexChange)="onTabChange($event)">
    <mat-tab label="Select Existing Label">
      <ng-template matTabContent>
          <mat-selection-list #labels 
            [(ngModel)]="selectedLabels"
            (selectionChange)="onLabelSelectionChange($event)">
            <mat-list-option
              checkboxPosition="before"
              *ngFor="let label of existingLabels" [value]="label">
              {{label}}
            </mat-list-option>
          </mat-selection-list>
      </ng-template>
    </mat-tab>
    <mat-tab label="Create New Label">
      <ng-template matTabContent>
          <form #form="ngForm" class="stepper-form">
              <mat-form-field>
                <input  matInput  [formControl]="labelKeyControl" [errorStateMatcher]="matcher"
                  placeholder="key"  (ngModelChange)="onLabelKeyChange()" [(ngModel)]="labelKey" name="labelKey" required>
                <mat-error *ngIf="labelKeyControl.hasError('email') && !labelKeyControl.hasError('required')">
                  Please enter a valid label key
                </mat-error>
                <mat-error *ngIf="labelKeyControl.hasError('required')">
                  Key is <strong>required</strong>
                </mat-error>  
              </mat-form-field>
              <mat-form-field>
                <input  matInput  [formControl]="labelValueControl" [errorStateMatcher]="matcher"
                  placeholder="value" (ngModelChange)="onLabelValueChange()"  [(ngModel)]="labelValue" name="labelValue" required>
                <mat-error *ngIf="labelValueControl.hasError('email') && !labelValueControl.hasError('required')">
                  Please enter a valid label value
                </mat-error>
                <mat-error *ngIf="labelValueControl.hasError('required')">
                  Value is <strong>required</strong>
                </mat-error>  
              </mat-form-field>
          </form>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
  <button  mat-raised-button [disabled]="disableAddButton"
    (click)="addLabel()"  color="primary">Add</button>
</div>