<div>
  <mat-radio-group
    class="kubernetes-node-add-label-step"
    [(ngModel)]="addLabelMode">
    <mat-radio-button 
    class="kubernetes-node-add-label-step__radio-button" [value]="'exsitingLabel'">
      Select Existing Label
    </mat-radio-button>
    <mat-radio-button 
    class="kubernetes-node-add-label-step__radio-button" [value]="'newLabel'">
      Create New Label
    </mat-radio-button>
  </mat-radio-group>
  <div *ngIf="addLabelMode==='exsitingLabel'">Test</div>
  <form #form="ngForm" class="stepper-form" *ngIf="addLabelMode==='newLabel'">
      <mat-form-field>
        <input  matInput  placeholder="key" [(ngModel)]="labelkey" name="key"  required>
      </mat-form-field>
      <mat-form-field>
        <input  matInput  placeholder="value" [(ngModel)]="labelValue" name="value"  required>
      </mat-form-field>
  </form>
  <button  mat-raised-button (click)="addLabel()"  color="primary">Add</button>
</div>